<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
        <add name="TTEntities" connectionString="metadata=res://*/CMSModel.csdl|res://*/CMSModel.ssdl|res://*/CMSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.2.26;initial catalog=TT;user id=sa;password=dbsa@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>